flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "MAIN",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0ef3dadb8b68ec5b",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt in test",
        "topic": "csv/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "053d270633e4197a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "c1f60bdd5eb55ade",
                "a63f5e729bb810a7"
            ]
        ]
    },
    {
        "id": "a63f5e729bb810a7",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Data from Sensors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "c1f60bdd5eb55ade",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Json_to_Influx",
        "func": "var mensagem = {}\nmensagem.measurement = msg.payload.sensor_name\nmensagem.payload = {\n    \"timestamp\": Number(msg.payload.TimeStamp), \n    \"LAEZ\": Number(msg.payload.LAEZ),\n    \"Evento\": Number(msg.payload.LAEC),\n    \"LAEA\": Number(msg.payload.LAEA),\n    \"LZpeak\": Number(msg.payload.LZpeak),\n    \"LZpeakT\": Number(msg.payload.LZpeakT),\n    \"LCpeak\": Number(msg.payload.LCpeak),\n    \"LCpeakT\": Number(msg.payload.LCpeakT),\n    \"LApeak\": Number(msg.payload.LApeak),\n    \"LApeakT\": Number(msg.payload.LApeakT),\n    \"LAFmax\": Number(msg.payload.LAFmax),\n    \"LAFmaxT\": Number(msg.payload.LAFmaxT),\n    \"LAFmin\": Number(msg.payload.LAFmin),\n    \"LAFminT\": Number(msg.payload.LAFminT),\n    \"LZeq\": Number(msg.payload.LZeq),\n    \"LCeq\": Number(msg.payload.LCeq),\n    \"LAeq\": Number(msg.payload.LAeq),\n    \"00025_Hz\": Number(msg.payload.BT25),\n    \"00031.5_Hz\": Number(msg.payload.BT31_5),\n    \"00040_Hz\": Number(msg.payload.BT40),\n    \"00050_Hz\": Number(msg.payload.BT50),\n    \"00063_Hz\": Number(msg.payload.BT63),\n    \"00080_Hz\": Number(msg.payload.BT80),\n    \"00100_Hz\": Number(msg.payload.BT100),\n    \"00125_Hz\": Number(msg.payload.BT125),\n    \"00160_Hz\": Number(msg.payload.BT160),\n    \"00200_Hz\": Number(msg.payload.BT200),\n    \"00250_Hz\": Number(msg.payload.BT250),\n    \"00315_Hz\": Number(msg.payload.BT315),\n    \"00400_Hz\": Number(msg.payload.BT400),\n    \"00500_Hz\": Number(msg.payload.BT500),\n    \"00630_Hz\": Number(msg.payload.BT630),\n    \"00800_Hz\": Number(msg.payload.BT800),\n    \"01000_Hz\": Number(msg.payload.BT1000),\n    \"01250_Hz\": Number(msg.payload.BT1250),\n    \"01600_Hz\": Number(msg.payload.BT1600),\n    \"02000_Hz\": Number(msg.payload.BT2000),\n    \"02500_Hz\": Number(msg.payload.BT2500),\n    \"03150_Hz\": Number(msg.payload.BT3150),\n    \"04000_Hz\": Number(msg.payload.BT4000),\n    \"05000_Hz\": Number(msg.payload.BT5000),\n    \"06300_Hz\": Number(msg.payload.BT6300),\n    \"08000_Hz\": Number(msg.payload.BT8000),\n    \"10000_Hz\": Number(msg.payload.BT10000),\n    \"12500_Hz\": Number(msg.payload.BT12500),\n    \"16000_Hz\": Number(msg.payload.BT16000),\n    \"20000_Hz\": Number(msg.payload.BT20000),\n    \"LAEA_SLOW_Event\" : Number(msg.payload.LAEA_SLOW_Event),\n    \"EventDetect\" : Number(msg.payload.EventDetect),\n    \"EventType1\": Number(msg.payload.EventType1),\n    \"EventType2\": Number(msg.payload.EventType2),\n    \"EventType3\": Number(msg.payload.EventType3),\n    \"EventType4\": Number(msg.payload.EventType4),\n    \"EventType5\": Number(msg.payload.EventType5),\n    \"EventType6\": Number(msg.payload.EventType6),\n    \"EventType7\": Number(msg.payload.EventType7),\n    \"EventType8\": Number(msg.payload.EventType8),\n    \"EventType9\": Number(msg.payload.EventType9),\n    \"EventType10\": Number(msg.payload.EventType10)\n}\nreturn mensagem",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 160,
        "wires": [
            [
                "137808e8f2db403e",
                "51ad5de49e910b94"
            ]
        ]
    },
    {
        "id": "137808e8f2db403e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Print Influx Content",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "51ad5de49e910b94",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "56816188953333bb",
        "name": "InfluxDB",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "Sensor_Data",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ISEL",
        "bucket": "Sensor_Data",
        "x": 1000,
        "y": 160,
        "wires": []
    },
    {
        "id": "5d20d976ab63dc48",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Json_to_Influx_timestamp_as_time",
        "func": "var mensagem = {}\nmensagem.payload = {\n    \"time\" : Number(msg.payload.TimeStamp) * 1000,\n    \"LAEA\": Number(msg.payload.LAEA),\n    \"LCpeak\" : Number(msg.payload.LCpeak),\n    \"LCpeakT\": Number(msg.payload.LCpeakT),\n    \"LAFmax\": Number(msg.payload.LAFmax),\n    \"LAFmaxT\": Number(msg.payload.LAFmaxT),\n    \"LAFmin\": Number(msg.payload.LAFmin),\n    \"LAFminT\": Number(msg.payload.LAFminT),\n    \"LAeq\": Number(msg.payload.LAeq)\n}\nreturn mensagem",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f17fc47654d19722",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "MQTT In",
        "topic": "sound/levels",
        "qos": "2",
        "datatype": "auto",
        "broker": "053d270633e4197a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 400,
        "wires": [
            [
                "8efa4be3ccd1d8b3",
                "5b87b2840f9f3250"
            ]
        ]
    },
    {
        "id": "8efa4be3ccd1d8b3",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Data from Sensors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 480,
        "wires": []
    },
    {
        "id": "3b9ac1ad7bbf3522",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": " [[1751462034.086, 55.30046844482422, 55.29881286621094, 51.07063674926758, 61.59061050415039, 77.93049621582031, 61.474613189697266, 77.8532485961914, 59.62783432006836, 76.8751220703125, 51.501319885253906, 63.5540771484375, 50.63747787475586, 21.04914665222168, 57.183998107910156, 57.13560485839844, 53.50889205932617, 21.940946578979492, 21.36930274963379, 16.7623233795166, 15.441145896911621, 19.56772232055664, 20.815433502197266, 22.647228240966797, 27.13451385498047, 28.41860580444336, 35.61216735839844, 46.7545280456543, 41.64104080200195, 53.01800537109375, 48.17473220825195, 39.15583419799805, 28.5949764251709, 26.834381103515625, 27.860755920410156, 39.30781555175781, 26.624387741088867, 34.85279846191406, 29.70942497253418, 38.059078216552734, 17.659839630126953, 16.8853816986084, 19.126867294311523, 15.233149528503418, 11.9307861328125, 13.185540199279785, 17.784622192382812, 55.50688934326172, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462034.153, 54.22142028808594, 54.18490982055664, 50.20077896118164, 64.35015869140625, 77.93049621582031, 63.83965301513672, 77.8532485961914, 60.22118377685547, 76.8751220703125, 50.600284576416016, 63.5540771484375, 49.989662170410156, 21.04914665222168, 57.15935516357422, 57.11104202270508, 53.48188018798828, 20.679182052612305, 21.04060173034668, 17.473514556884766, 14.863372802734375, 18.194215774536133, 18.842830657958984, 22.331058502197266, 25.085153579711914, 28.319293975830078, 35.27654266357422, 46.183528900146484, 40.039405822753906, 50.89558792114258, 48.2464714050293, 39.766326904296875, 30.321434020996094, 27.773435592651367, 29.748550415039062, 39.09761428833008, 26.38738250732422, 33.899871826171875, 28.50690269470215, 37.036434173583984, 16.75167465209961, 20.534162521362305, 28.0942325592041, 30.55525779724121, 24.821943283081055, 24.045629501342773, 26.698406219482422, 55.28445053100586, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462034.222, 55.146080017089844, 55.06787872314453, 51.308860778808594, 66.4093017578125, 77.93049621582031, 66.1050796508789, 77.8532485961914, 63.12171173095703, 76.8751220703125, 52.333621978759766, 63.5540771484375, 50.09366226196289, 21.04914665222168, 57.14189147949219, 57.09334945678711, 53.46319580078125, 19.269723892211914, 19.358808517456055, 15.54935359954834, 13.719032287597656, 17.06928253173828, 17.412710189819336, 21.349580764770508, 23.585514068603516, 28.346590042114258, 35.383140563964844, 44.67719650268555, 42.91436004638672, 50.51508712768555, 49.94076156616211, 43.39605712890625, 31.287755966186523, 28.237762451171875, 34.08367156982422, 38.63834762573242, 25.9731388092041, 33.53431701660156, 27.672067642211914, 36.224449157714844, 17.977739334106445, 22.851215362548828, 31.924959182739258, 36.682411193847656, 28.87295913696289, 27.929553985595703, 27.973527908325195, 55.15105438232422, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462034.294, 55.74162292480469, 55.60785675048828, 52.31589126586914, 65.42828369140625, 77.93049621582031, 64.47539520263672, 77.8532485961914, 62.40196990966797, 76.8751220703125, 52.51783752441406, 63.5540771484375, 51.91858673095703, 21.04914665222168, 57.12944412231445, 57.08020782470703, 53.45285415649414, 17.436046600341797, 18.134899139404297, 13.905159950256348, 13.510679244995117, 22.773162841796875, 22.872974395751953, 23.364213943481445, 26.460010528564453, 29.49945640563965, 34.34474563598633, 42.91162109375, 45.397132873535156, 50.026878356933594, 50.62150192260742, 48.91637420654297, 34.095706939697266, 29.74423599243164, 35.8556022644043, 39.23849105834961, 26.390466690063477, 33.237037658691406, 27.143712997436523, 36.30366897583008, 19.284719467163086, 25.569683074951172, 34.8923225402832, 39.955440521240234, 30.864547729492188, 30.83156394958496, 29.792861938476562, 55.068115234375, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462034.362, 54.21825408935547, 54.03252410888672, 50.92154312133789, 53.027610778808594, 77.93049621582031, 51.09736251831055, 77.8532485961914, 50.935768127441406, 76.8751220703125, 51.87123489379883, 63.5540771484375, 49.88254165649414, 21.04914665222168, 57.105857849121094, 57.055694580078125, 53.43191909790039, 18.693374633789062, 20.965147018432617, 13.01834487915039, 13.512641906738281, 23.43158721923828, 24.594587326049805, 22.27582550048828, 25.636682510375977, 28.30278968811035, 33.53795623779297, 40.963077545166016, 43.86642837524414, 48.069488525390625, 49.33489990234375, 48.02459716796875, 33.13901901245117, 28.985424041748047, 37.1802978515625, 37.2386589050293, 24.488615036010742, 31.687156677246094, 25.680618286132812, 35.108154296875, 17.886478424072266, 25.82847023010254, 35.301422119140625, 39.466548919677734, 30.468116760253906, 31.260379791259766, 29.821781158447266, 54.8421745300293, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462034.408, 52.1732177734375, 51.985660552978516, 48.89239501953125, 52.533660888671875, 77.93049621582031, 51.56548309326172, 77.8532485961914, 50.2366828918457, 76.8751220703125, 49.830909729003906, 63.5540771484375, 47.953636169433594, 21.04914665222168, 57.07027816772461, 57.019386291503906, 53.39849853515625, 22.220666885375977, 23.59816551208496, 12.343679428100586, 12.724111557006836, 21.431575775146484, 23.314300537109375, 20.42511558532715, 24.001413345336914, 26.48999786376953, 31.874731063842773, 38.93153762817383, 41.71995544433594, 46.00422668457031, 47.3126335144043, 45.8336181640625, 31.03681755065918, 27.70041275024414, 35.83523941040039, 35.106388092041016, 22.822040557861328, 30.410364151000977, 23.59682846069336, 32.97975158691406, 15.93198299407959, 23.984567642211914, 33.3107795715332, 37.32107925415039, 28.380327224731445, 29.239463806152344, 28.270021438598633, 54.5717887878418, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462034.48, 50.22587203979492, 50.0464973449707, 47.01891326904297, 49.73984146118164, 77.93049621582031, 49.32625961303711, 77.8532485961914, 48.834877014160156, 76.8751220703125, 47.91230010986328, 63.5540771484375, 46.03603744506836, 21.04914665222168, 57.02590560913086, 56.97446823120117, 53.356163024902344, 22.67725944519043, 23.991300582885742, 10.982186317443848, 10.908297538757324, 19.651403427124023, 21.23307228088379, 18.45136070251465, 22.04962730407715, 24.486528396606445, 30.118839263916016, 36.95303726196289, 39.723453521728516, 44.23340606689453, 45.300357818603516, 43.656089782714844, 28.88532829284668, 25.894140243530273, 35.91569900512695, 33.19444274902344, 20.843643188476562, 28.601165771484375, 21.473352432250977, 30.77240562438965, 13.943306922912598, 21.861135482788086, 31.155649185180664, 35.1099967956543, 26.26633071899414, 27.063528060913086, 26.61945915222168, 54.30339813232422, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462034.55, 48.32094192504883, 48.151302337646484, 45.28856658935547, 51.863853454589844, 77.93049621582031, 51.74529266357422, 77.8532485961914, 52.60424041748047, 76.8751220703125, 45.994598388671875, 63.5540771484375, 44.39820098876953, 21.04914665222168, 56.974853515625, 56.923011779785156, 53.307373046875, 21.2125186920166, 22.451539993286133, 9.697479248046875, 8.873445510864258, 17.649391174316406, 19.12664794921875, 16.52228546142578, 19.962669372558594, 22.4857234954834, 28.130126953125, 34.79779052734375, 37.83769226074219, 42.1638069152832, 43.34144973754883, 41.578495025634766, 27.0273380279541, 26.45244789123535, 35.906578063964844, 31.8128662109375, 19.27295684814453, 26.8229923248291, 19.39525604248047, 28.563167572021484, 12.060487747192383, 19.686994552612305, 28.95722198486328, 32.90568161010742, 24.14380645751953, 24.906536102294922, 24.777915954589844, 54.034576416015625, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462034.619, 46.30576705932617, 46.144142150878906, 43.36823272705078, 42.57130813598633, 77.93049621582031, 42.285072326660156, 77.8532485961914, 40.00118637084961, 76.8751220703125, 44.34960174560547, 63.5540771484375, 42.290443420410156, 21.04914665222168, 56.918312072753906, 56.86617660522461, 53.252891540527344, 19.447093963623047, 20.56940460205078, 8.370196342468262, 6.783648490905762, 15.772439956665039, 16.973867416381836, 14.559578895568848, 17.821775436401367, 20.363727569580078, 25.964296340942383, 32.59360885620117, 35.627723693847656, 39.97467803955078, 41.4324951171875, 39.59962463378906, 25.225465774536133, 25.240957260131836, 34.69930648803711, 29.87976837158203, 17.30562973022461, 24.647844314575195, 17.267627716064453, 26.351675033569336, 10.122697830200195, 17.51349639892578, 26.76707649230957, 30.690799713134766, 21.949121475219727, 22.723587036132812, 22.578027725219727, 53.76075744628906, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462034.664, 64.39044189453125, 64.19528198242188, 65.2314224243164, 88.9171142578125, 88.9171142578125, 88.50540161132812, 88.50540161132812, 91.33867645263672, 91.33867645263672, 66.39218139648438, 66.39218139648438, 42.244625091552734, 21.04914665222168, 57.02533721923828, 56.970191955566406, 53.48439407348633, 17.5164737701416, 18.67000389099121, 6.5325446128845215, 4.650913238525391, 13.669252395629883, 14.792291641235352, 12.428277015686035, 15.661991119384766, 18.16315460205078, 23.779726028442383, 31.222719192504883, 34.306400299072266, 41.351890563964844, 41.098724365234375, 38.73883056640625, 44.33095169067383, 52.45389175415039, 56.31786346435547, 60.54935836791992, 56.4976806640625, 50.945411682128906, 51.27964401245117, 50.60995864868164, 44.98151779174805, 44.29329299926758, 41.415218353271484, 37.00300598144531, 33.60409927368164, 28.77187156677246, 23.220979690551758, 58.557552337646484, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462034.735, 63.29133224487305, 63.09482192993164, 64.14009857177734, 72.36479949951172, 88.9171142578125, 72.32103729248047, 88.50540161132812, 72.37662506103516, 91.33867645263672, 65.12078094482422, 66.39218139648438, 63.229007720947266, 21.04914665222168, 57.10768127441406, 57.04996109008789, 53.670982360839844, 15.393837928771973, 16.521026611328125, 5.282816410064697, 2.622471570968628, 11.839763641357422, 12.747307777404785, 10.41133975982666, 13.598068237304688, 16.032896041870117, 21.63815689086914, 29.695205688476562, 32.768733978271484, 40.52134704589844, 39.804969787597656, 37.51203918457031, 44.23654556274414, 51.75399398803711, 55.5284538269043, 59.70270538330078, 55.51328659057617, 50.314701080322266, 50.62846374511719, 49.555503845214844, 44.05000686645508, 43.2740592956543, 40.86020278930664, 36.522216796875, 32.65459060668945, 27.56433868408203, 22.546777725219727, 58.9316291809082, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462034.806, 61.44043731689453, 61.172264099121094, 62.20614242553711, 62.274654388427734, 88.9171142578125, 59.53678512573242, 88.50540161132812, 61.37242889404297, 91.33867645263672, 63.17892074584961, 66.39218139648438, 61.18568801879883, 21.04914665222168, 57.15769958496094, 57.0969352722168, 53.79965591430664, 13.72438907623291, 14.337972640991211, 4.802464008331299, 0.7264703512191772, 10.367948532104492, 11.119741439819336, 9.719368934631348, 13.734267234802246, 21.386077880859375, 25.265695571899414, 27.581493377685547, 30.567176818847656, 38.307918548583984, 37.82414627075195, 38.45881271362305, 44.34030532836914, 49.92436599731445, 53.79682540893555, 57.60485076904297, 53.374305725097656, 48.24303436279297, 48.49126052856445, 47.38997268676758, 42.50178527832031, 43.77701187133789, 44.54848861694336, 41.83445358276367, 31.655481338500977, 25.77332878112793, 22.077030181884766, 58.7528190612793, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462034.878, 60.26511764526367, 59.875633239746094, 60.370174407958984, 72.60719299316406, 88.9171142578125, 72.50564575195312, 88.50540161132812, 68.48070526123047, 91.33867645263672, 61.14183044433594, 66.39218139648438, 59.841461181640625, 21.04914665222168, 57.190696716308594, 57.1258659362793, 53.88613510131836, 12.711434364318848, 12.26494026184082, 3.4275314807891846, 0.6068523526191711, 11.070683479309082, 11.481103897094727, 10.62342643737793, 16.07251739501953, 24.043624877929688, 29.98656463623047, 31.037799835205078, 43.63770294189453, 42.28599548339844, 37.949790954589844, 36.65127182006836, 42.16728591918945, 47.717777252197266, 51.57831954956055, 55.391761779785156, 51.20315933227539, 46.06106948852539, 46.27376937866211, 45.195838928222656, 41.35285186767578, 44.973480224609375, 46.69912338256836, 45.093605041503906, 32.920265197753906, 24.551162719726562, 20.670883178710938, 58.55740737915039, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462034.896, 62.0776252746582, 61.88563537597656, 60.25071334838867, 74.00252532958984, 88.9171142578125, 73.46044158935547, 88.50540161132812, 70.45068359375, 91.33867645263672, 60.58738327026367, 66.39218139648438, 59.841461181640625, 21.04914665222168, 57.24805450439453, 57.18129348754883, 53.96809768676758, 12.157694816589355, 11.326554298400879, 3.252497911453247, 3.3775227069854736, 12.924765586853027, 17.298635482788086, 12.28967571258545, 23.674911499023438, 27.769731521606445, 33.943450927734375, 35.74334716796875, 53.95000076293945, 56.174293518066406, 46.62470626831055, 41.32229232788086, 41.14441680908203, 46.325584411621094, 50.11122131347656, 53.95380401611328, 50.38251876831055, 44.764404296875, 44.83637619018555, 44.000205993652344, 40.91279983520508, 44.015106201171875, 45.79602813720703, 44.44631576538086, 32.3477783203125, 23.988235473632812, 21.133413314819336, 58.621944427490234, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462034.967, 61.923099517822266, 61.802154541015625, 59.347007751464844, 69.0235824584961, 88.9171142578125, 68.79802703857422, 88.50540161132812, 64.42615509033203, 91.33867645263672, 60.02722930908203, 66.39218139648438, 58.513580322265625, 21.04914665222168, 57.30173873901367, 57.23417663574219, 54.03262710571289, 13.70967960357666, 14.752873420715332, 9.050955772399902, 7.7617998123168945, 20.84476089477539, 24.361438751220703, 17.719812393188477, 25.707366943359375, 35.85668182373047, 40.00279235839844, 35.88121795654297, 54.25106430053711, 59.09743118286133, 48.71186828613281, 44.318275451660156, 39.41386413574219, 44.199893951416016, 47.90454864501953, 51.85680389404297, 49.28276062011719, 42.76980209350586, 42.94162368774414, 42.42026901245117, 40.36693572998047, 42.20882034301758, 43.996463775634766, 42.4996452331543, 31.033212661743164, 23.033952713012695, 20.78253936767578, 58.57394790649414, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462035.037, 60.406009674072266, 60.165443420410156, 57.919734954833984, 66.61631774902344, 88.9171142578125, 65.1284408569336, 88.50540161132812, 65.71383666992188, 91.33867645263672, 58.470703125, 66.39218139648438, 57.130733489990234, 21.04914665222168, 57.33384704589844, 57.264183044433594, 54.07478713989258, 18.60984230041504, 19.72843360900879, 9.758241653442383, 11.589226722717285, 22.426753997802734, 23.467361450195312, 21.409587860107422, 26.080835342407227, 36.90130615234375, 41.051700592041016, 36.857486724853516, 52.24424362182617, 57.64250564575195, 46.767581939697266, 42.2510986328125, 37.23212814331055, 41.98424530029297, 45.68465042114258, 49.6511116027832, 47.11296463012695, 40.60135269165039, 42.965301513671875, 41.41473388671875, 41.94259262084961, 47.31926345825195, 45.473602294921875, 40.63545608520508, 31.157047271728516, 25.61001205444336, 20.366960525512695, 58.39651870727539, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462035.107, 59.30153274536133, 59.02336502075195, 56.421630859375, 73.23355102539062, 88.9171142578125, 73.14628601074219, 88.50540161132812, 66.88504791259766, 91.33867645263672, 57.07878112792969, 66.39218139648438, 55.81874084472656, 21.04914665222168, 57.352699279785156, 57.28083419799805, 54.09778594970703, 20.23833465576172, 20.386882781982422, 13.429713249206543, 14.062352180480957, 20.838788986206055, 22.177337646484375, 20.773759841918945, 25.50533103942871, 35.148414611816406, 40.560001373291016, 43.04403305053711, 50.11881637573242, 55.58878707885742, 45.541561126708984, 40.12118148803711, 35.158348083496094, 39.814064025878906, 43.47942352294922, 47.43669509887695, 44.923736572265625, 38.48868179321289, 41.211429595947266, 39.753379821777344, 40.96866226196289, 47.274078369140625, 45.146270751953125, 38.88162612915039, 30.18476104736328, 24.985034942626953, 19.367700576782227, 58.18636703491211, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462035.155, 60.07658386230469, 59.94475555419922, 56.102294921875, 65.22806549072266, 88.9171142578125, 65.40469360351562, 88.50540161132812, 60.566925048828125, 91.33867645263672, 56.86727523803711, 66.39218139648438, 55.09854507446289, 21.04914665222168, 57.3797721862793, 57.307212829589844, 54.11687469482422, 19.338790893554688, 19.372182846069336, 17.834396362304688, 18.28018569946289, 21.543296813964844, 26.462499618530273, 27.64266586303711, 30.33377456665039, 37.083438873291016, 48.476680755615234, 52.84069061279297, 48.18690872192383, 56.773807525634766, 50.04651641845703, 39.32475662231445, 33.992515563964844, 37.92729949951172, 41.37113571166992, 45.25089645385742, 42.78917694091797, 36.67843246459961, 39.14567184448242, 37.64186096191406, 38.79707336425781, 45.130592346191406, 43.00334167480469, 36.927040100097656, 28.3505859375, 23.556344985961914, 21.32486343383789, 58.067481994628906, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462035.224, 58.317684173583984, 58.19794464111328, 54.22279739379883, 71.57652282714844, 88.9171142578125, 71.71257781982422, 88.50540161132812, 66.43888854980469, 91.33867645263672, 55.04638671875, 66.39218139648438, 53.459632873535156, 21.04914665222168, 57.388092041015625, 57.315093994140625, 54.11777114868164, 17.808528900146484, 21.680959701538086, 23.570018768310547, 21.484163284301758, 25.061628341674805, 28.2757568359375, 28.67291259765625, 30.259172439575195, 36.281558990478516, 46.99140167236328, 51.16362380981445, 46.69090270996094, 55.07246398925781, 48.301002502441406, 37.71556091308594, 32.11452102661133, 35.77458953857422, 39.16720962524414, 43.03349304199219, 40.61784362792969, 34.585350036621094, 36.932491302490234, 35.449344635009766, 36.57822036743164, 42.909244537353516, 40.7973747253418, 34.754825592041016, 26.166851043701172, 21.473112106323242, 20.113168716430664, 57.81052017211914, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1751462035.294, 60.71799087524414, 60.68864059448242, 56.84404373168945, 73.18895721435547, 88.9171142578125, 73.20774841308594, 88.50540161132812, 69.50377655029297, 91.33867645263672, 58.70039749145508, 66.39218139648438, 54.83973693847656, 21.04914665222168, 57.421844482421875, 57.3493766784668, 54.14441680908203, 17.218570709228516, 24.801340103149414, 24.538135528564453, 21.278499603271484, 24.37981414794922, 26.500282287597656, 27.09475326538086, 28.741397857666016, 34.83561706542969, 45.66781234741211, 50.39295196533203, 48.689292907714844, 56.563167572021484, 52.24894714355469, 51.303443908691406, 39.65911865234375, 36.74742889404297, 39.969200134277344, 41.25419235229492, 39.33958435058594, 33.1649055480957, 35.40621566772461, 34.30763244628906, 34.780128479003906, 40.722782135009766, 38.65205764770508, 32.76227951049805, 24.755435943603516, 21.279508590698242, 20.352365493774414, 57.878944396972656, 10.0, 40.0, 50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]]",
        "payloadType": "str",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "642a5acfdadc8c35"
            ]
        ]
    },
    {
        "id": "697b675ac65ce542",
        "type": "split",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "fbb06977431f3598"
            ]
        ]
    },
    {
        "id": "edd7e08847924f20",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Print Influx Content",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "fbb06977431f3598",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Json_to_Influx",
        "func": "var mensagem = {\n    measurement: \"Test\",//msg.payload.sensor_name,\n    _time :new Date(msg.payload[0]).valueOf(),\n    _start:new Date(msg.payload[0]).valueOf(),\n    _stop:new Date(msg.payload[0]).valueOf(),\n    payload : {\n        \"timestamp\": Number(msg.payload[0]),\n        \"LAEZ\": Number(msg.payload[1]),\n        \"Evento\": Number(msg.payload[2]),\n        \"LAEA\": Number(msg.payload[3]),\n        \"LZpeak\": Number(msg.payload[4]),\n        \"LZpeakT\": Number(msg.payload[5]),\n        \"LCpeak\": Number(msg.payload[6]),\n        \"LCpeakT\": Number(msg.payload[7]),\n        \"LApeak\": Number(msg.payload[8]),\n        \"LApeakT\": Number(msg.payload[9]),\n        \"LAFmax\": Number(msg.payload[10]),\n        \"LAFmaxT\": Number(msg.payload[11]),\n        \"LAFmin\": Number(msg.payload[12]),\n        \"LAFminT\": Number(msg.payload[13]),\n        \"LZeq\": Number(msg.payload[14]),\n        \"LCeq\": Number(msg.payload[15]),\n        \"LAeq\": Number(msg.payload[16]),\n        \"00025_Hz\": Number(msg.payload[17]),\n        \"00031.5_Hz\": Number(msg.payload[18]),\n        \"00040_Hz\": Number(msg.payload[19]),\n        \"00050_Hz\": Number(msg.payload[20]),\n        \"00063_Hz\": Number(msg.payload[21]),\n        \"00080_Hz\": Number(msg.payload[22]),\n        \"00100_Hz\": Number(msg.payload[23]),\n        \"00125_Hz\": Number(msg.payload[24]),\n        \"00160_Hz\": Number(msg.payload[25]),\n        \"00200_Hz\": Number(msg.payload[26]),\n        \"00250_Hz\": Number(msg.payload[27]),\n        \"00315_Hz\": Number(msg.payload[28]),\n        \"00400_Hz\": Number(msg.payload[29]),\n        \"00500_Hz\": Number(msg.payload[30]),\n        \"00630_Hz\": Number(msg.payload[31]),\n        \"00800_Hz\": Number(msg.payload[32]),\n        \"01000_Hz\": Number(msg.payload[33]),\n        \"01250_Hz\": Number(msg.payload[34]),\n        \"01600_Hz\": Number(msg.payload[35]),\n        \"02000_Hz\": Number(msg.payload[36]),\n        \"02500_Hz\": Number(msg.payload[37]),\n        \"03150_Hz\": Number(msg.payload[38]),\n        \"04000_Hz\": Number(msg.payload[39]),\n        \"05000_Hz\": Number(msg.payload[40]),\n        \"06300_Hz\": Number(msg.payload[41]),\n        \"08000_Hz\": Number(msg.payload[42]),\n        \"10000_Hz\": Number(msg.payload[43]),\n        \"12500_Hz\": Number(msg.payload[44]),\n        \"16000_Hz\": Number(msg.payload[45]),\n        \"20000_Hz\": Number(msg.payload[46]),\n        \"LAEA_SLOW_Event\": Number(msg.payload[47]),\n        \"EventDetect\": Number(msg.payload[48]),\n        \"EventType1\": Number(msg.payload[49]),\n        \"EventType2\": Number(msg.payload[50]),\n        \"EventType3\": Number(msg.payload[51]),\n        \"EventType4\": Number(msg.payload[52]),\n        \"EventType5\": Number(msg.payload[53]),\n        \"EventType6\": Number(msg.payload[54]),\n        \"EventType7\": Number(msg.payload[55]),\n        \"EventType8\": Number(msg.payload[56]),\n        \"EventType9\": Number(msg.payload[57]),\n        \"EventType10\": Number(msg.payload[58])\n    }\n}\n\n\nreturn mensagem;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 400,
        "wires": [
            [
                "edd7e08847924f20",
                "86e5979713e7dd6f"
            ]
        ]
    },
    {
        "id": "86e5979713e7dd6f",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "56816188953333bb",
        "name": "InfluxDB",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "Sensor_Data",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ISEL",
        "bucket": "Test",
        "x": 1040,
        "y": 400,
        "wires": []
    },
    {
        "id": "642a5acfdadc8c35",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "sound/levels",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "053d270633e4197a",
        "x": 670,
        "y": 620,
        "wires": []
    },
    {
        "id": "5b87b2840f9f3250",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "\n// Supondo que msg.payload contenha a string do array\ntry {\n    msg.payload = JSON.parse(msg.payload);\n} catch (e) {\n    msg.payload = {\n        error: \"Erro ao converter string para array\",\n        detalhe: e.message\n    };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            [
                "697b675ac65ce542"
            ]
        ]
    },
    {
        "id": "053d270633e4197a",
        "type": "mqtt-broker",
        "name": "Official Mosquitto Local",
        "broker": "192.168.1.97",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "56816188953333bb",
        "type": "influxdb",
        "hostname": "192.168.1.99",
        "port": 8086,
        "protocol": "http",
        "database": "Sensor_Data",
        "name": "Influx Local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.56.1:8086",
        "timeout": 10,
        "rejectUnauthorized": false
    }
]